.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.logo {
  width: 10rem;
  height: 10rem;
  border: white 1px solid;
  margin-bottom: 3rem;
}

.backgroundText {
  transform: skewY(-5deg);
  top: 85%;
  width: 100%;
  position: absolute;
  z-index: -999;
  overflow: hidden;
}

.animateText {
  animation: text-scrolling 10s linear infinite;
  will-change: transform;
  display: block;
  position: relative;
  white-space: nowrap;
}

@keyframes text-scrolling {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0%, 0, 0);
  }
}

.spansTextBlue {
  font-size: 20rem;
  color: transparent;
  -webkit-text-stroke: 2px #03e9f4;
  text-transform: uppercase;
  display: inline-block;
  line-height: 0.75;
  min-width: auto;
  font-weight: 800;
}

.spansTextPink {
  font-size: 27rem;
  color: transparent;
  -webkit-text-stroke: 2px #fbaefb;
  text-transform: uppercase;
  display: inline-block;
  line-height: 0.75;
  min-width: auto;
  font-weight: 800;
}

.spansTextGreen {
  font-size: 27rem;
  color: transparent;
  -webkit-text-stroke: 2px #a4de69;
  text-transform: uppercase;
  display: inline-block;
  line-height: 0.75;
  min-width: auto;
  font-weight: 800;
}

.dlButton {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin: 1rem 1rem 5rem 1rem;
}

.dlButton:hover {
  background: white;
  color: #050801;
  box-shadow: 0 0 5px white, 0 0 25px white, 0 0 50px white, 0 0 200px white;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.dlButton span {
  position: absolute;
  display: block;
}

.dlButton span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, white);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.dlButton span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, white);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.dlButton span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, white);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.dlButton span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, white);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    width: 20rem;
    height: 20rem;
    border: white 1px solid;
    margin-bottom: 3rem;
  }

  .animateText {
    animation: text-scrolling 35s linear infinite;
    will-change: transform;
    display: block;
    position: relative;
    white-space: nowrap;
  }

  .spansTextBlue {
    font-size: 27rem;
    color: transparent;
    -webkit-text-stroke: 2px #03e9f4;
    text-transform: uppercase;
    display: inline-block;
    line-height: 0.75;
    min-width: auto;
    font-weight: 800;
  }
}
