.container {
  overflow: auto;
  margin-top: 15rem;
}

.newsTitleRow {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  align-items: center;
}

.line {
  background: white;
  height: 1px;
  width: 3rem;
  margin-right: 1rem;
}

@media screen and (min-width: 1024px) {
  .newsTitleRow {
    margin-left: 20rem;
  }
}
