.container {
  overflow: auto;
  margin-top: 15rem;
}

.newsTitleRow {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  align-items: center;
}

.line {
  background: white;
  height: 1px;
  width: 3rem;
  margin-right: 1rem;
}

.newsContainer {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .newsTitleRow {
    margin-left: 20rem;
  }

  .newsContainer {
    margin-left: 15rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
  }

  .newsContainer > div {
    flex-basis: 50%;
  }
}
