.articleCon {
  display: flex;
  flex-direction: column;
}

.img {
  width: 95%;
  transition: all 0.5s;
}

.img:hover {
  width: 100%;
}

.title {
  font-size: 2rem;
  margin-bottom: 0rem;
  margin-left: 1rem;
}

.descr {
  margin-bottom: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (min-width: 1024px) {
  .articleCon {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    flex-basis: 50%;
  }
}
